@model AppTransacciones.Models.Transaccion

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h2 class="mb-4">Registro de transacciones internacionales</h2>
    <form asp-action="" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Remitente" class="form-label"></label>
            <input asp-for="Remitente" class="form-control" placeholder="Nombre del remitente"/>
        </div>
        <div class="mb-3">
            <label asp-for="Destinatario" class="form-label"></label>
            <input asp-for="Destinatario" class="form-control" placeholder="Nombre del destinatario"/>
        </div>
        <div class="mb-3">
            <label asp-for="Pais_origen" class="form-label"></label>
            <input asp-for="Pais_origen" class="form-control" placeholder="Pais de origen"/>
        </div>
        <div class="mb-3">
            <label asp-for="Destino" class="form-label"></label>
            <input asp-for="Destino" class="form-control" placeholder="Destino del envio"/>
        </div>
        <div class="mb-3">
            <label asp-for="TipoMonto" class="form-label">Tipo de monto</label>
            <select asp-for="TipoMonto" class="form-select">
                <option value="0">USD</option>
                <option value="1">Bitcoin</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Monto" class="form-label"></label>
            <input asp-for="Monto" class="form-control" placeholder="Monto a enviar"/>
        </div>

        <button type="submit" class="btn btn-primary">Iniciar transaccion</button>
        
        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-error mt-5">
                @ViewData["SuccessMessage"]
            </div>
        }


        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success mt-5">
                @ViewData["SuccessMessage"]
            </div>
        }
    </form>
</div>
